/* ALAPOK */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ece7e3;
    color: #391b0b;
}

/* NAV */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b4235;
    padding: 10px 20px;
}
.nav-logo img {
    height: 50px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.nav-links li a:hover {
    color: #b88364;
